<!DOCTYPE html">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="da" lang="da">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.0/backbone.js"></script>
        <script src="http://localhost:8080/bundles/topmikkel/js/ser.js"></script> 
    </head>
    <body>
        test!
        <a href="#product/45" ids='test'>product</a> 
        <a href="#contact">con</a>
        <a href="#main">main</a>  
        <a href="#test">test</a> 
         
    <div id='layout'></div> 
   
    <h1><div id='emne'></div></h1>  
    slut 2 
    <h1><div id='test'></div></h1>  
    <br> 
    <h1><div id='type'></div></h1>  
    slut 3
    </body>
</html>