
<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="da" lang="da">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- 
	This website is powered by TYPO3 - inspiring people to share!
	TYPO3 is a free open source Content Management Framework initially created by Kasper Skaarhoj and licensed under GNU/GPL.
	TYPO3 is copyright 1998-2012 of Kasper Skaarhoj. Extensions are copyright of their respective owners.
	Information and contribution at http://typo3.org/
-->
<base href="http://www2.topdanmark.dk/" />


<meta name="generator" content="TYPO3 4.7 CMS" />
<meta name="robots" content="index, follow" />
<meta name="google-site-verification" content="_m9t9AJnYbXl0-d1K-J9a6eloMDutn0LfKZ3Tv_maTE" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<link rel="stylesheet" type="text/css" href="typo3temp/compressor/merged-811c21cfdf32898bf13c521f72f973a5-1e0ed71d62fe2c60dff34b64e3d438f2.css?1377613278" media="all" />
<!--[if IE 7]><link rel="stylesheet" type="text/css" href="typo3temp/compressor/csc-mailform_ie-473212340e7a102e8091e8c138f9bae2.css?1359635686" media="all" /><![endif]-->
<!--[if IE]><link rel="stylesheet" type="text/css" href="typo3temp/compressor/ie-da4a8e46a19a57dfa78faffb799c9663.css?1368513458" media="all" /><![endif]-->
<!--[if IE 6]><link rel="stylesheet" type="text/css" href="typo3temp/compressor/ie6-687a4910dafa6a747a97f27daf1c11b5.css?1356684913" media="all" /><![endif]-->
<!--[if IE 7]><link rel="stylesheet" type="text/css" href="typo3temp/compressor/ie7-6d651d7e8a5c1f606d0f8c641305ebda.css?1356684913" media="all" /><![endif]-->
<!--[if IE 8]><link rel="stylesheet" type="text/css" href="typo3temp/compressor/ie8-0e69fbcb5b26e7bfcfe5777d4bcd27ea.css?1356684913" media="all" /><![endif]-->
<link rel="stylesheet" type="text/css" href="typo3temp/compressor/print-6caff410761cb439ba94ef8e89f06298.css?1356684913" media="print" />


<script src="typo3temp/compressor/merged-43c654643a24bef6aabfc4e7f8c4e391-1db5b450a9301b08d753a1349fd954ff.js?1378111841" type="text/javascript"></script>
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" /><link rel="icon" href="/favicon.ico" />

<script type="text/javascript">
    
      var _gaq = _gaq || [];
       var pluginUrl = 
       '//www.google-analytics.com/plugins/ga/inpage_linkid.js';
       _gaq.push(['_require', 'inpage_linkid', pluginUrl]); 
      _gaq.push(['_setAccount', 'UA-19772404-1']); // UA-code = topdanmark.dk
      // Set the current domain as the GAdomain
      split = location.hostname.split("://").pop().split("/").shift().split(".");
      GAdomain = split[split.length-2] + "." + split[split.length-1];
      _gaq.push(['_setDomainName', GAdomain]);
      _gaq.push(['_setAllowHash',false]);
      _gaq.push(['_setAllowLinker',true]); 
      _gaq.push(['_trackPageview']);

      _gaq.push(['global._setAccount', 'UA-19772404-9']); // UA-code = global
      // Set the current domain as the GAdomain
      split = location.hostname.split("://").pop().split("/").shift().split(".");
      GAdomain = split[split.length-2] + "." + split[split.length-1];
      _gaq.push(['global._setDomainName', GAdomain]);
      _gaq.push(['global._setAllowHash',false]);
      _gaq.push(['global._setAllowLinker',true]);
      _gaq.push(['global._trackPageview']);  

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://www2.topdanmark.dk/fileadmin/ga' : 'http://www.google-analytics.com') + '/ga.js'; // Replace [TOPDANMARK_SSL_SERVER] with actual SSL-server and upload ga.js to it's root folder
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  </script>
  
  <script type="text/javascript">
  function trackLinks(){
    // Set the name of the top domain here, ex. Ԥomain.comԊ    topdomain = "topdanmark.dk";
    // Domains which should have cookies from the topdomain passed
    // Seperate each domain with a comma (Ӭԩ and quote each domain
    // Ex. ԡnother_domain.comԬաnother2_comain.comԊ    extDomains = new Array("topnet.dk");
    // Current domain
    domainSplit = location.hostname.split("/").shift().split(".");
    domain = domainSplit[domainSplit.length-2] + "." + domainSplit[domainSplit.length-1];
    links = document.getElementsByTagName("a");
    for (var i = 0; i < links.length; i++){
      links[i].onclick = function(){
        // The domain of the href
        tmp = this.href;
        domainSplit = tmp.split("://").pop().split("/").shift().split(".");
        linkdomain = domainSplit[domainSplit.length-2] + "." + domainSplit[domainSplit.length-1];
        
        // If this is the topdomain, pass the cookie to the domains in the extDomains array
        if(topdomain == domain){
          matchIndex = -1;
          for(var j = 0; j < extDomains.length; j++){
            if(linkdomain == extDomains[j]) matchIndex = j;
          }
          if(matchIndex != -1){
            _gaq.push(['_link', tmp]); return false;
          }
        }
         // Else if this is not the topdomain but the link is linking to it, pass the cookie
        else if(linkdomain == topdomain){
          _gaq.push(['_link', tmp]); return false;
        }
      }
    }
  }
  window.onLoad = trackLinks();
  </script>

	<title>Forsikringspris - Beregn pris p塤in forsikring - Topdanmark</title>
	<meta name="title" content="Forsikringspris - Beregn pris p塤in forsikring - Topdanmark" />
	<meta name="keywords" content="Billig forsikring, forsikring, forsikringer, forsikring tilbud, bilforsikring, indboforsikring, rejseforsikring, Topdanmark" />
	<meta name="description" content="Beregn din pris p塦orsikring og l糠om Topdanmarks rabatter. Nogle forsikringer kan du f塰risen p塨er og nu.
Andre f沠du et tilbud p塭ed posten." />
	<meta name="date" content="2013-09-10" />
	<link rel="canonical" href="http://www2.topdanmark.dk/priser/" />
	


<script type="text/javascript" src="typo3conf/ext/topdkrmo/Resources/Public/Javascript/jquery.form.js"></script>
<script type="text/javascript" src="typo3conf/ext/topdkrmo/Resources/Public/Javascript/simplermo.js"></script>
<link rel="stylesheet" type="text/css" href="typo3conf/ext/topdkrmo/Resources/Public/Css/simplermo.css" media="all" />

</head>
<body>


	<div id="container" class="subpage">
		<div id="header">
			<div id="logo"><a href="http://www2.topdanmark.dk/" title="Topdanmark Forsikring og Pension"></a></div>
			<div class="searchblock">
<form action="/soeg/" class="search">
  <div class="searchinputwrapper">
    <input type="text" name="tx_indexedsearch[sword]" value="S